POSTGRES_PASSWORD=  changeme
DJANGO_SECRET_KEY=  changeme
DJANGO_DEBUG=True

SERIAL_PORT=/dev/ttyUSB0
SERIAL_BAUD=115200
RETENTION_SECONDS=10
BROADCAST_INTERVAL=0.1
DB_BATCH_SIZE=50
PRUNE_INTERVAL=2.0

POSTGRES_DB=pdtwinterface_db
POSTGRES_USER=pdtwinterface_user
POSTGRES_HOST=database
POSTGRES_PORT=5432
REDIS_HOST=redis
